.content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    min-width: 950px;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__price {
        font-size: 22px;
        font-weight: 400;
        height: 33px;
    }
    &__actions {
        display: flex;
        gap: 10px;
    }
}
