.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__portfolio,
    &__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    &__username {
        font-size: 1.3rem;
        @media screen and (max-width: 1000px) {
            font-size: inherit;
        }
    }
}
