.symbol-modal {
    .modal-dialog {
        max-width: 800px;
    }

    .group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .date {
            width: 170px;
        }
        .type {
            width: 40px;
        }
        .units {
            width: 120px;
        }
        .price {
            width: 120px;
        }
        .total {
            width: 120px;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 15px;
    }
}
