$border-color: #dee2e6;
$hover-background: #f5f5f5;
$sort-icon-color: #297eff;

.table-container {
    overflow: auto;

    table {
        border-spacing: 0;

        th,
        td {
            margin: 0;
            padding: 4px 12px;
            border-bottom: 1px solid $border-color;
            text-align: right;
        }

        tbody {
            tr {
                height: 45px;
                &:hover {
                    background-color: $hover-background;
                }
            }
        }

        thead > tr > th:nth-child(1),
        tbody > tr > td:nth-child(1) {
            text-align: left;
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            @media screen and (max-width: 1000px) {
                background: $hover-background;
            }
        }

        .sort-icon {
            color: $sort-icon-color;
        }
    }
}
