$border-color: #dee2e6;
$hover-background: rgb(248, 250, 253);
$sort-icon-color: #297eff;

table {
    border-spacing: 0;

    th,
    td {
        margin: 0;
        padding: 4px 12px;
        border-bottom: 1px solid $border-color;
        text-align: right;
    }

    thead > tr > th:nth-child(1) {
        text-align: left;
    }

    tbody {
        tr {
            height: 45px;
            &:hover {
                background-color: $hover-background;
            }
        }
    }

    .symbol {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        img {
            width: 20px;
        }
    }

    .header-icon {
        color: $sort-icon-color;
    }
}
