body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: "Roboto Condensed", sans-serif;
}

.icon {
    cursor: pointer;
}

.icon-add {
    &.MuiSvgIcon-root {
        font-size: 29px;
    }
}

.input-group {
    padding-top: 7px;
    input {
        flex: 1 1 auto;
    }
    &.custom {
        .input-group-text {
            width: 80px;
        }
    }
    .react-datepicker-wrapper {
        width: 83%;
    }
}
